# Database settings
DB_NAME="DB_NAME"
DB_USER="DB_USER"
DB_PASSWORD="DB_PASSWORD"
DB_HOST="DB_HOST"
DB_PORT="DB_PORT"

#PostgresDB settings
POSTGRES_DB="POSTGRES_DB"
POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"

# Django settings
SECRET_KEY="SECRET_KEY"
DEBUG="DEBUG"

# Yandex settings
EMAIL_HOST_USER="EMAIL_HOST_USER"
EMAIL_HOST_PASSWORD="EMAIL_HOST_PASSWORD"
EMAIL_USE_TLS="EMAIL_USE_TLS"
EMAIL_USE_SSL="EMAIL_USE_SSL"

TIME_ZONE="TIME_ZONE"

#Stripe settings
API_KEY_STRIPE="API_KEY_STRIPE"

#Redis settings
BACKEND="BACKEND"
LOCATION="LOCATION"

#Celery settings
CELERY_BROKER_URL="CELERY_BROKER_URL"
CELERY_RESULT_BACKEND="CELERY_RESULT_BACKEND"
CELERY_TIMEZONE="CELERY_TIMEZONE"
CELERY_TASK_TRACK_STARTED="CELERY_TASK_TRACK_STARTED"
CELERY_TASK_TIME_LIMIT="CELERY_TASK_TIME_LIMIT"